<div class="container-fluid" (click)="$event.preventDefault()">
    <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" (click)="navigateToRoute('/')">
            <div>
                <span>xClaim <span *ngIf="loggedIn">({{userName}})</span></span>
                <img src="images/core/loadingSpinner.gif" [ngClass]="{ invisible: !isBusy, spinner: true }" alt="Loading..." />
            </div>
        </a>
    </div>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav">
            <li *ngFor="let menuItem of hubData.MenuItems" dropdown keyboardNav="true" class="dropdown">
                <a *ngIf="menuItem.SubMenus.length == 0" href="#" (click)="navigateToRoute(menuItem.Route)">{{menuItem.Description}}</a>
                <a *ngIf="menuItem.SubMenus.length > 0" href="#" class="dropdown-toggle" 
                    dropdownToggle [disabled]="disabled" role="button" aria-haspopup="true" aria-expanded="false">
                    {{menuItem.Description}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li *ngFor="let submenuItem of menuItem.SubMenus">
                        <a *ngIf="submenuItem.SubMenus.length == 0" href="#" (click)="navigateToRoute(submenuItem.Route)">{{submenuItem.Description}}</a>
                    </li>
                </ul>
            </li>
        </ul> <!-- navbar-nav -->
        <ul class="nav navbar-nav navbar-right" id="login-menu">
            <li *ngIf="!loggedIn"><a href="#" (click)='login()'>Login</a></li>
            <li *ngIf="loggedIn"><a href="#" (click)='logout()'>Logout</a></li>
        </ul>            
    </div> <!-- navbar-collapse -->
</div>