<div class="container">
    <div [hidden]="!User || !User.Id || User.Id === '00000000-0000-0000-0000-000000000000'" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <h4>User Claims for {{User?.Name}}</h4>
        </div>
        <ng-table [config]="tableConfig" [columns]="columns" (deleteClicked)="deleteClaim($event)">
        </ng-table>        
        <div class="form-group clearfix">
            <div class="btn-toolbar">
                <button type="button" class="btn btn-primary pull-right" (click)="addClaim($event)">Add Claim</button>
            </div>
        </div>    
    </div>
</div>