<div class="container">
    <div *ngIf="dataViewModel.Active" class="edit-panel" >
        <div class="navbar navbar-inverse center">
            <div class="list-header">Users</div>
            <ul class="nav navbar-nav pull-right list-header-button-bar">
                <li>
                    <p class="navbar-btn">
                        <a href="#" (click)="addNew($event)" class="btn btn-primary">New User</a>
                    </p>
                </li>
            </ul>            
        </div>
        <userfilter></userfilter>
        <ng-table [config]="tableConfig" [rows]="dataViewModel.Rows" [columns]="columns" (editClicked)="editUser($event)" (deleteClicked)="deleteUser($event)">
        </ng-table>
    </div>
    <div class="row-count-tag">{{(dataViewModel.Rows && dataViewModel.Rows.length) || 0}} of {{dataViewModel.RowCount}}</div>
    <div *ngIf="!dataViewModel.Active" class="loading-message">
        Loading Users
    </div>
</div>